form(method='POST', action='/users/:id?_method=DELETE')
      label(for='id') Enter the user id to delete
      br
      br
      input#user.form-control(type='text' placeholder='Id user' name="id")
      br
      br
      button(type='submit') Delete
