form(method='POST', action='/users/:user?_method=PUT')
      label(for='user') Update user name
      br
      br
      input#user.form-control(type='text' placeholder='user name' name="user")
      br
      br
      button(type='submit') Submit
